* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
}

.login-container {
    display: flex;
    width: 100%;
}

.login-box {
    width: 30%; 
    height: 100%;
    background-color: black;
    color: white;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 2px solid #000000; 
}

.login-box h1 {
    text-align: center;
    margin: 70px;
    font-size: 45px;
}

.input-container {
    margin-bottom: 15px; 
}

label {
    margin-bottom: 5px;
    padding: 5px;
    display: block; 
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    border: 2px solid #2FA8FF;
    border-radius: 20px;
    color: white;
    background-color: black;
    width: 100%;
    margin-top: 10px;
    outline: none;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #1c7a9c;
}

button {
    background-color: #2FA8FF;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    width: 100%;
    height: 30px;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s;
}

button:hover {
    background-color: #1c7a9c;
    transform: scale(1.1);
}

.button-container {
    margin-top: 10px;
    text-align: center;
}

.image-box {
    flex: 1;
    background-image: url('img/loginhistoria2.png');
    background-size: cover;
    background-position: center;
}
