* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    background-color: black;
}

.login-container {
    display: flex;
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
}

.login-box {
    background-color: black;
    color: white;
    padding: 20px;
    width: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-box h1 {
    text-align: center;
    margin: 70px;
    font-size: 45px;
}

.input-container {
    margin-bottom: 15px; 
}

label {
    margin-bottom: 5px;
    padding: 5px;
    display: block; 
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    border: 2px solid #2FA8FF;
    border-radius: 20px;
    color: white;
    background-color: black;
    width: 100%;
    margin-top: 10px;
    outline: none;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #1c7a9c;
}

button {
    background-color: #2FA8FF;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    width: 100%;
    height: 30px;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s;
}

button:hover {
    background-color: #1c7a9c;
    transform: scale(1.1);
}

.button-container {
    margin-top: 10px;
    text-align: center;
}

.image-box {
    background-image: url('./img/loginhistoria2.png');
    background-size: cover;
    background-position: center;
    width: 100%;
}

@media (max-width: 768px) {
    .image-box {
        display: none;
    }
    
    .login-container {
        max-width: 100%;
        height: auto;
    }
    .login-box {
        background-color: black;
        color: white;
        padding: 20px;
        width: 325px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
